[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/boytonchik
[access "refs/for/refs/*"]
	read = group user/boytonchik
	push = group user/boytonchik
	label-Code-Review = -2..+2 group user/boytonchik
	label-Verified = -1..+1 group user/boytonchik
	rebase = group user/boytonchik
	removeReviewer = group user/boytonchik
	submit = group user/boytonchik
[access "refs/heads/*"]
	read = group user/boytonchik
	create = group user/boytonchik
	push = +force group user/boytonchik
	pushMerge = group user/boytonchik
[access "refs/tags/*"]
	push = group user/boytonchik
	push = +force group user/boytonchik
